/**
 * @license
 * MyFonts Webfont Build ID 3059290, 2015-07-16T08:58:52-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: KulturistaSemiBold by Suitcase Type Foundry
 * URL: http://www.myfonts.com/fonts/suitcase/kulturista/semi-bold/
 * Copyright: Copyright (c) 2009 by Tomas Brousil. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3059290
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2eae5a"); */

  
@font-face {
	font-family: 'KulturistaSemiBold';
	src: url('webfonts/2EAE5A_0_0.eot');
	src: url('webfonts/2EAE5A_0_0.eot?#iefix') format('embedded-opentype'), 
		url('webfonts/2EAE5A_0_0.woff2') format('woff2'),
		url('webfonts/2EAE5A_0_0.woff') format('woff'),
		url('webfonts/2EAE5A_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'HalisGR-Regular';
	src: url('webfonts/HalisGR-Regular.otf');
}
@font-face {
	font-family: 'HalisGR-Medium';
	src: url('webfonts/HalisGR-Medium.otf');
}
@font-face {
	font-family: 'HalisGR-Bold';
	src: url('webfonts/HalisGR-Bold.otf');
}
@font-face {
	font-family: 'HalisGR-Book';
	src: url('webfonts/HalisGR-Book.otf');
}
 
