@import "MyFontsWebfontsKit.css";
/* Word Press theme code */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }



.site-header{background-color:#773a74;padding:0;margin:0;height:90px;width:100%;position:fixed;z-index:110}
.header-container{width:85%;padding:0;font-family:HalisGR-Regular}
.header-container .col-md-2{}
.main-page-template{top:0!important; overflow:hidden;}

body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.home-slider{color:#fff;background:url(images/slider-back.png);background-repeat:no-repeat;background-size:cover}
.app-value-desc{font-size:18px;max-width:650px;font-family:sans-serif;font-weight:100;letter-spacing:1px;text-align:left}
.app-value{font-family:Caslon Pro}
.home-slider img{width:100%;height:auto}
.feature-img{max-width:100%;height:auto}
.home-container{width:85%;margin:0 auto}
.home-container .slider-phone-img{float:right}
.first-desc{max-width:710px;height:400px}
.feature-desc{max-width:700px;margin-top:45px;margin-bottom:10px;min-height:300px}
.phone-desc{max-width:900px;vertical-align:bottom;height:450px;overflow:hidden;right:-15px;position:relative}
.feature-phone{display:block;height:auto;max-width:100%;min-height:450px}
.row{}
.col-md-2{height:100%}
.col-sm-6{text-align:center}
.logo-holder{width:100%;height:100%;margin-left:5%;min-width:200px;max-width:270px}
.logo-holder img{width:100%;height:auto}
.logo-container{float:left;text-align:center;width:200px!important;margin-top:18px;margin-right:15px}
.logo-container a{text-decoration:none;cursor:default;}
.logo-title,.logo-tagline{color:#fff;font-family:HalisGR-Book;margin:0}
.logo-title{font-size:25px;letter-spacing:6px}
.logo-tagline{font-size:12px;letter-spacing:1px}
.newsfeed-holder,.nav-event-holder,.signin-holder{width:13%;float:left;min-height:90px;min-width:160px;font-family:sans-serif;font-weight:400;letter-spacing:1px;color:#fff}
.newsfeed-holder.active,.nav-event-holder.active,.signin-holder.active{font-weight:bold;}
.signin-icon img{max-width:100%;min-width:40px;height:auto}
.signin-text{font-size:15px;font-family:sans-serif;letter-spacing:1px;padding:0;width:135px;margin-top:10px}
.feed-icon{float:left}
.nav-signin-text{float:left}
.evt-icon-icon{float:left}
.highlight-btn{padding-top:20px;min-height:90px}
.highlight-btn .col-sm-3{padding:0}
.highlight-btn a,.signin-holder a{text-decoration:none;color:#fff}

.nav-download-section{width:18%;float:left;margin-top:22px;margin-left:0;padding-left:0;min-width:250px}
.social-icons{width:13%;float:left;margin-top:6px;padding-left:0}

.nav-download-section img{max-width:250px;display:block;margin:0;float:left;width:230px}
.social-icon img{width:30px;height:auto}
.social-common img{min-width:30px}
.social-last img{width:15px;height:30px}
.social-icon{margin-top:20px}
.feature-title{font-family:Caslon Pro;font-size:30px;text-align:center;letter-spacing:1px;margin-top:30px}
.purple-line{width:70px;background-color:#80287f;height:5px;margin:30px auto;left:0;right:0}
.white-line{width:70px;background-color:#fff;height:5px;margin:30px auto;left:0;right:0}
#clear{clear:both}
.feature-text{font-size:18px;font-family:sans-serif;font-weight:100;letter-spacing:1px;text-align:center}
.feature-create-account,.feature-news-letter{max-width:300px;font-family:System Font,Regular;height:43px;line-height:38px;text-align:center;font-size:16px;border-radius:3px;padding-top:3px;border:2px solid #fff;margin:30px auto;left:0;right:0}
.feature-create-account a,.feature-news-letter a{color:#fff;font-family:sans-serif;text-decoration:none}
.feature-news-letter{border-color:#80287f}
.feature-news-letter a{color:#80287f}
.feature-news-letter img{max-width:100%;height:auto}
.event-area{height:850px;background-image:url(images/home-feature-back.png);background-repeat:no-repeat;background-size:cover;background-position:bottom}
.event-area img{}
.download-area{margin-top:100px;max-width:851px;margin-bottom:30px}
.download-area-link{max-width:400px;margin:30px auto;left:0;right:0}
.download-slider-area{max-width:400px;margin-top:60px;margin-bottom:20px}
.app-value{font-size:30px;margin-bottom:15px}
.event-area .first-desc{color:#fff}
.slider-desc-holder{margin-top:150px;min-height:500px}
.download-stores{max-width:400px;min-height:50px}
.store-holder{max-width:190px!important;float:left}
.store-holder img{max-width:190px!important;height:auto}
.apple-logo{float:right}
.top-desc{max-width:880px;height:250px}
.top-desc .feature-text{color:#989898}
.top-desc .feature-title{color:#1d1d1e;font-size:25px}
.event-area p{color:#fff}
.login-row{margin-top:100px;max-width:85%;min-height:100px;margin-left:auto;margin-right:auto}
.account-icon-row{margin-top:100px;height:30px;min-height:30px;max-width:85%;margin-left:auto;margin-right:auto}
.input-icon{position:absolute;top:3px;right:3px;z-index:2;display:block;max-width:50px;height:34px;line-height:34px;text-align:center;pointer-events:none}

.input-icon img{display:block;max-width:100%;height:auto;margin-top:3px;margin-left:10px}
.form-input-holder{float:left;padding:0;min-width:200px;border:1px solid gray;border-radius:3px;height:40px}
.common-holder{}
.column-holder{padding:0}

.action-text{float:left}
.action-text-side{float:left;position:absolute;z-index:1}
.input-div{width:85%;margin:0;float:left;height:38px}
.input-div input{width:100%;height:100%;text-indent:20px;border:none;outline:none}

.input-vertical-line{display:inline-block;width:1px;height:80%;margin-top:2%;border-right:1px solid #111}
.image-icon{width:10%;margin-right:2.5%;float:right;height:38px}
.lock-icon{width:10%;padding-top:3px;margin-right:2.5%;float:right;height:100%}
.lock-icon img{display:block;max-height:27px}
.image-icon img{display:block;max-height:27px}
.sign-btn{text-align:center;background-color:#480f56;color:#fff;font-weight:700;border:none;cursor:pointer}
.sign-btn button{width:100%;height:100%;border:none;background:none;outline:none;letter-spacing:1px}
.fbsign-btn{text-align:center;background-color:#3b5980;color:#fff;font-weight:700;border:none;padding-top:5px;cursor:pointer}
.fb-letter{width:20px}
.fb-letter img{max-height:30px}
.sign-text{color:#80287f;padding-top:10px;font-weight:400;font-size:17px;font-family:sans-serif;margin-bottom:20px}
.active{background-color:#5a1f61}
.signin-text a{text-decoration:none;color:#fff}
.forgot-text{text-align:center;margin-top:60px;cursor:pointer;font-weight:400}
.register-field-row{background-image:url(images/register-background.png);background-size:100%;background-repeat:no-repeat;background-color:#f7f5f0;margin-top:0;box-shadow:0 0 10px grey}
.register-container{min-height:600px;max-width:85%;padding-top:20px}
.col-holders .col-sm-3{}
.register-container .col-holders .col-md-6{padding-left:0; height:calc(100% - 55px);}
.register-container .form-group{margin-bottom: 8%;}

.purple-color{color:#80287f}
input[type="radio"],input[type="checkbox"]{display:none}
input[type="radio"] + label span,input[type="checkbox"] + label span{display:inline-block;width:32px;height:32px;margin:-1px 4px 0 0;vertical-align:middle;background:url(icons/checkbox-sprite.png) 0 -34px no-repeat;cursor:pointer;float:left}
input[type="radio"]:checked + label span{background-position:top left}
input[type="checkbox"]:checked + label span{background-position:0 -67px}
.radio label,.checkbox label{width:100%;padding:5px 15px 0 0;font-size:17px;min-height:35px}
.radio-holder{margin-top:170px}
.account-radio-holder{margin-top:110px;font-family:sans-serif}
.region-text{margin-top:6%;font-size:16px;letter-spacing:1px}
.region-text label{font-weight:400;margin-bottom:25px}
.finish-btn{float:right;width:300px;height:50px;margin-top:8%;background-color:#480f56;border:none;outline:none;color:#fff;font-weight:400;font-size:18px;letter-spacing:1px}
.write-comment-btn{float:right;width:200px;height:40px;margin-top:20px;margin-right:7.5%;background-color:#480f56;border:none;outline:none;color:#fff;font-weight:700}
.save-change-btn{width:100%;height:34px;border-radius:2px;background-color:#480f56;border:none;outline:none;color:#fff;font-weight:400;letter-spacing:1px;font-size:16px}
.special-style-text{}
.logout-btn{font-weight:700;font-size:20px;margin-top:3px}
.logoutbtn-btn{display:block;border:none;outline:none;background:none;float:right}
.slider-phone-img{min-height:500px;margin-top:100px}
.slider-phone-img img{display:block;margin-left:auto;margin-right:auto;max-width:320px}
.download-slider-area img{display:block}

.pref-holder{float:left;max-width:250px}
.pref-holder .purple-color.common-pref-text{top:3px;position:relative}
.common-pref-text{font-weight:400;font-size:17px;line-height:30px;margin-top:3px}
.pref-icon img{display:block}

.article-container-box{width:100%;height:100%;min-height:600px;margin:0!important;padding:0!important;background-image:url(images/register-background.png);background-size:100% 100%;background-repeat:no-repeat}
.feed-slider-box{min-height:800px;width:85%;margin-top:150px}
.carousel.slide{}
.carousel-indicators{left:0;width:20%;margin:0}
.carousel-indicators li{margin:1px 5px;background-color:#111}
.carousel-indicators li.active{border-color:#fff}
.myCarousel{height:100%}
.feed-rows{margin-top:0;min-height:200px;margin-bottom:100px}

.feed-column{height:332px;padding:0;border:1px solid #b0b0b0}
.col-top-info{padding-left:15px;padding-right:15px;padding-bottom:20px;background-color:#fff}

.col-bottom-bar{font-family:Caslon Pro;height:35px;padding-left:15px;padding-right:15px;background-color:#480f56}
.col-bottom-bar a{color:#fff;text-decoration:none}
.thumb-holder{width:100%;margin-top:10px;height:115px;cursor:pointer}
.feed-info-holder{width:100%;min-height:150px;padding-top:15px;background-color:#fff}
.feed-info-holder p{color:#1d1d1e}
.thumb-holder img{width:100%;max-height:100%}
.speech-box,.speech-text{float:left}
.speech-box{width:10%}
.speech-text{font-family:sans-serif;width:75%;color:#b9b9b9;text-align:left;margin-left:10px}
.top-thumb-holder p{font-size:18px}
.top-feed-info{padding-top:20px;height:200px;padding-left:15px;padding-right:15px}
.feed-featured{padding:0;height:525px;float:right;border:1px solid #b0b0b0}
.feed-slider{padding:0;max-width:1050px;height:525px!important}
.top-thumb-holder img{width:100%;max-height:100%}
.slider-row{height:auto}
.read-more{float:left;padding-top:8px;font-weight:400;letter-spacing:1px;color:#fff}
.slider-read-more{position:absolute;z-index:1000}
.carousel-control{height:93.2%;display:none}
.time-rem-holder{color:#fff;float:right;font-family:sans-serif;font-weight:400;padding-top:8px}
.event-container{width:85%;margin-bottom:0}
.top-event-container{margin-top:90px;min-height:60px;padding:10px 0;box-shadow:0 1px 6px grey;background-color:#fff;margin-bottom:20px}
.event-settings{font-size:16px;letter-spacing:1px}
.event-settings div{}
.dropdown-list{border:1px solid gray;border-radius:3px;height:40px}
.drop-caret{float:right;margin-right:10px;margin-top:7px}
.dropdown-selection{float:left;width:87%;height:100%}
.drop-caret{width:5%;height:100%}
.drop-item-holder{position:absolute;z-index:10;width:80%;margin-top:35px;display:none;min-height:150px}
.drop-option{padding-top:7px;height:35px;text-align:center}

.dist-holder{}
.date-select-holder{}
.selectDiv{height:40px;float:right;line-height:28px;overflow:hidden;background:url(icons/down-arrow.png) no-repeat right #FEFEFE;background-position:right 10px bottom 10px;border:gray 1px solid;-webkit-border-radius:2px;border-radius:2px;margin:0;padding:5px;position:relative;z-index:100}
.selectDefault{padding-left:8px}
.selectDiv select{margin:0;padding:0;opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0;width:100%;height:100%;display:block;z-index:101}
.selectDiv select:focus{outline:none}
.selectDefault,.selectDiv option{font-family:arial;font-size:12px}
.single-event-header{margin-top:90px;min-height:300px}
.single-img-top{width:100%;min-height:300px;max-height:100%}
.single-evt-info{position:absolute;z-index:1;min-height:200px;min-height:300px;width:100%;color:#fff;padding-left:5%;margin-top:-300px;padding-top:60px;background:rgba(0,0,0,0.5)}
.top-thumb-holder{width:100%;border:solid transparent;background-image:url(images/featured-article-img.png);background-size:100% 100%;background-color:rgba(0,0,0,0.3);height:290px}
.feed-title-text{font-family:Caslon Pro;color:#fff;font-size:35px;margin-top:20%;text-indent:10px}
.single-evt-title{font-family:Caslon Pro;font-size:37px;max-width:600px;margin-top:40px}
.single-evt-loc-info{font-family:sans-serif;font-size:18px;letter-spacing:1px;font-weight:100;margin-top:40px}
.single-event-data{font-family:System Font,Regular;width:85%;margin-top:70px;min-height:400px;margin-bottom:30px}
.single-event-data div{height:100%}
.evt-video-holder{width:100%;height:400px}
.evt-video-holder iframe{border:none}
.article-container{width:85%;margin-top:120px}
.article-title{font-size:35px;font-family:Caslon Pro;margin-bottom:25px}
.aticle-date-time{font-family:sans-serif;letter-spacing:1px}
.article-data{font-family:System Font,Regular;margin-top:50px;min-height:400px;letter-spacing:1px;line-height:150%;font-size:16px}
.event-title-text{font-family:Caslon Pro;max-width:400px;font-size:25px}
.click-icon{width: 94.5%;height: 100%;display: none;background: url(icons/preference_tick.png), linear-gradient(rgba(128, 40, 127, 0.5), rgba(128, 40, 127, 0.5));background-size: 15% 15%, 100%, 100%;background-repeat: no-repeat;background-position: center center;margin-right: 10px;/* box-shadow: 0 0 1px 3px #ccc inset; */position: absolute;z-index: 1}
.click-icon img{display:block;width:100%;height:100%}
.facebook-login{display:none}
#myCarousel .item-img-overlay-purple{background: linear-gradient(to right, rgba(72, 15, 86, 1),rgba(72, 15, 86, 0.8)60%, rgba(72, 15, 86, 0)); opacity: 1;width: 100%;height: 500px;display: block;position: absolute;}

//#myCarousel .item-img-overlay-mesh{background: url(images/mesh.png);opacity: 0.2;width: 100%;height: 500px;display: block;position: absolute;}
.item,.item img{}
#myCarousel{height:483px;width:100%; }
.carousel .item>img{}
.carousel-inner > .item > img{width:100%;height:490px}
.change-password-box{position:absolute;width:90%;height:250px;padding-top:30px;left:0;right:0;margin:0 auto;border-radius:15px;background-color:#fff;box-shadow:0 0 5px grey;z-index:10;display:none}
.change-pass-form{max-width:90%;height:90%;left:0;right:0;margin:0 auto}
.time-icon{width:25px;height:25px;padding-top:-10px;margin-right:10px}
.time-icon img{width:25px;height:25px}
.article-comment-box{background-color:#f3f3f3;margin-top:2px;min-height:400px;margin-bottom:30px}
.comment-form-box{width:100%}
.form-group input{height:45px}
.form-group button{height:45px}
.comment-text-area,.comment-form-box .form-group{font-family:sans-serif;font-size:14px;border:1px solid #ccc;box-shadow:-1px 1px 2px 1px #ccc;width:85%;margin:20px auto;padding:10px;background-color:#fff;border-radius:3px;color:#979797;position:relative}
.comment-text-area:before{position:absolute;display:block;background-color:transparent;border-left:1px solid transparent;border-right:20px solid transparent;border-top:11px solid #fff;padding:0;content:' ';left:0;bottom:-10px!important;border-radius:0;z-index:2}
.comment-text-area:after{position:absolute;display:block;border-left:0 solid transparent;border-right:25px solid transparent;border-top:12px solid #ccc;padding:1px;content:' ';left:-2px;bottom:-14px!important;border-radius:0;z-index:1}
.comment-text-area p,.comment-form-box .form-group input{height:auto;margin-bottom:5px}
.comment-title{color:#111}
.comment-title:first-of-type{color:#979797}
.comment-form-box input,.comment-form-box textarea{border:none;box-shadow:none;padding:0}
.comment-text-area{min-height:100px}
.report-abuse{width:100px;height:20px;margin-top:10px;margin-bottom:10px}
.report-abuse img{max-width:100%;display:block;height:auto}

.f-row .col-md-3{padding-left:5px;padding-right:5px}
.preference-img{width:100%;height:100%}

.comment-admin-holder{margin-top:150px;min-height:300px}
.comment-admin-holder .col-md-3,.comment-admin-holder .col-md-2,.comment-admin-holder .col-md-5{min-height:100px}
.admin-action-buttons{margin-left:auto;margin-right:auto}
.admin-comment-text{min-height:50px;margin-top:10px;margin-bottom:15px;max-width:900px}
.pin-img{width:30px;height:40px}
.comment-table-row{background-color:#773A74}
.comment-table-row th{color:#fff}
.settings-container{float:left}
.settings-icon{height:50px;width:50px;margin-right:15px}
.settings-icon img{width:50px}
.push-admin-holder{width:85%;min-height:600px;margin-top:150px;margin-left:auto;margin-right:auto;padding:0}
.admin-menu-holder{margin-top:150px;min-height:50px;border-bottom:1px solid #ddd}
.nav-element-holder .nav{border-bottom:none!important}
.admin-lg-btn{margin-top:7px}
.nav-element-holder{max-width:1000px;float:right}
.interest-column{left:0;right:0;margin:0 auto}
.location-column{display:none}
.push-text-box{margin-top:50px}

.location-box-holder{padding-top:20px}

.slider-title{font-size:47px;color:#fff;margin-left:5%;margin-top:15%;font-family:Caslon Pro;position:absolute;z-index:1}
.forgot-pass-text{margin-top:50px;margin-bottom:15px;font-family:System Font,Regular}
.forgot-password-box{position:absolute;max-width:320px;height:350px;padding-top:30px;left:0;right:0;margin:60px auto;border-radius:15px;background-color:#fff;box-shadow:0 0 5px grey;z-index:10;display:none}
.forgot-pass-form{max-width:320px;height:350px;padding-top:30px;left:0;right:0;margin:200px auto;border-radius:15px;background-color:#fff;box-shadow:0 0 5px grey}
@media(min-width:1737px) {
	.image-icon{padding-top:7px}
}
@media(min-width:1710px) {
	.f-row .col-md-3{height:160px}
}
@media(max-width:1700px) {
	.f-row .col-md-3{height:130px}
}
@media(max-width:1628px) {
	.highlight-btn{padding-top:5px}
	.highlight-btn .col-sm-3,.highlight-btn .col-sm-9{width:100%;text-align:center}
	.highlight-btn div img{width:30px;padding-top:7px}
	.signin-icon img{min-width:30px;padding-top:3px}
	.newsfeed-holder,.nav-event-holder,.signin-holder{min-width:140px}
	.nav-download-section img{max-width:180px!important}
	.nav-download-section{margin-top:26px!important;min-width:180px!important}
}
@media(max-width:1366px) {
	.nav-download-section img{min-height:30px}
}
@media(min-width:1290px) {
	.form-input-holder{max-width:410px}
}
@media(min-width:1205px) {
	.comment-admin-holder{width:85%}
	.image-icon{padding-top:10px}
}
@media(min-width:1200px) {
	.form-input-holder{width:23%}
	.common-holder{margin-left:2.6%}
	.image-icon{padding-top:7px}
	.comment-admin-holder{width:100%}
	.f-row .col-md-3{max-width:198px}
}
@media(max-width:1190px) {
	.form-input-holder{width:45%}
	.login-row{
		margin-top: 70px;
	}
	.login-row .col-md-3{
		margin: 0 5px 10px 5px;
	}
	.forgot-text{
		text-align: right;
		margin-top: 100px;
		/* margin-right: 50%; */
		/* right: 50%; */
		width: 45%;
		cursor: pointer;
		font-weight: 400;
		height: 25px;
		position: relative;
	}
	.input-vertical-line{
		margin-top: 1%;
	}
	.feature-img{
		margin-top:5px;
	}
	/*.last-col{margin-left:10%;margin-top:10px}*/
}
@media(max-width:1102px) {
	.social-icons{display:none}
}
@media(min-width:1027px) {
	.last-two-col{margin-left:2%}
}
@media (max-width:1025px) {
	.common-reg-input,.common-signin{width:100%}
}
@media(min-width:1010px) {
	.feed-column{width:32%;margin-top:2%}
	.feed-slider{width:66%}
	.feed-featured{width:32%;max-width:515px;margin-left:2%}
	.feed-column:nth-of-type(3n-1){margin-right:2%;margin-left:2%}
	.feed-column{margin-top:10px}
}
@media(max-width:1000px) {
	.download-slider-area img{margin-left:auto;margin-right:auto}
	.slider-desc-holder p,.app-value-desc{}
}
@media(min-width:800px) {
	.logout-btn{float:right}
	.pref-icon img{left:0;right:0;margin:0 auto}
}
@media(max-width:790px){
	/*.f-row .col-md-3{width:50%;float:left}*/
	.location-column{margin-top:200px}
}
@media(min-width:790px) {
	.selectDiv{width:80%}
	
}
@media(max-width:789px) {
	.selectDiv{width:100%}
}
@media(min-width:786px) {
	.col-holders .s-row{margin-top:10px}
	.f-row .col-sm-3{width:100%}
}
@media(max-width:780px) {
	.selectDiv{margin-top:10px!important}
}
@media(max-width:770px) {
	.account-icon-row .col-sm-4{float:left;max-width:250px}
}
@media(min-width:672px) {
	.feature-is{display:none}
}
@media(max-width:670px) {
	.feature-i{display:none}
	.feature-is{display:block}
}
@media(max-width:488px) {
	.account-icon-row .col-sm-4{float:left;max-width:90px}
}