@import "MyFontsWebfontsKit.css";
html {
    height: 100%;
}
body {
    height: 100%;
    min-width: 718px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
}
/* Word Press theme code */

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
.radio, .event-radio-select{
    margin: 0px !important;

}
.tnp-field label{
     display:none !important; 
}
.tnp-widget input.tnp-submit{
    background: #fff !important;
    color: #444 !important;

}
.logoclass{
    margin-top: 14px;
}
.logoclass p{
    margin: 0px;
    padding: 0px;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tnp-email{
    width: 75% !important;
    float: left !important;

}
._form-title{
    margin-bottom: 15px !important;
    font-size: 14px !important;
    color: #fff;
}
.tnp-submit{
     width: 22% !important;
    float: left !important;

}
.dist-selectBox{
  
    padding: 22px 10px;
}
#_form_1_._form._inline-form{
    margin: 0px auto 0px !important;
    padding: 20px 0px !important;
}
#_form_1_._form ._form_element input[type="text"], #_form_1_._form ._form_element input[type="date"], #_form_1_._form ._form_element select, #_form_1_._form ._form_element textarea{
    border-radius: 0px !important;
}
.modal-content{
    border-radius: 0px !important;
    background:#773a74 !important;
    top:91px;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    text-decoration: none;
}
.container-fluid.main-page-template {
    background: #fff;
}
.logged-in.admin-bar header {
    top: 32px;
}
#_form_1_submit{
    width: 120px ;
}
.site-header {
    background-color: #773a74;
    padding: 0;
    margin: 0;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 11000;
    min-width: 718px;
    top: 0;
    left: 0;
}
.header-container {
    width: 85%;
    padding: 0;
    font-family: HalisGR-Regular;
    height: 100%;
    text-align: center;
}
.header-container .col-md-2 {} .main-page-template {
    top: 0!important;
    overflow: hidden;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Background cover image */

.page-container {
    background-image: url(images/register-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    overflow: auto;
    margin-top: 90px;
    height: 100%;
    width: 100%;
}
/*#mobile-landing-image{background-image:url('images/mobileLandingImage.jpg'); background-size: cover; background-position:center; background-repeat:no-repeat;}*/

#mobile-landing-image {
    position: fixed;
}
#mobile-landing-image img {
    height: 100%;
    width: 100%;
}
header .header-box {
    display: inline-block;
    height: 100%;
    width: 18%;
    float: left;
    line-height: 90px;
}
header .header-sub-box {
    vertical-align: middle;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    line-height: 18px;
    font-size: 20px;
}
header .header-box.logo-box {
    width: 20%;
}
header .header-box.logo-box .header-sub-box {
    float: left;
}
header .header-box.menu {
    width: 29%;
}
.fb_iframe_widget {
    display: none!important;
}
header .header-icon {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    position: relative;
}
header .header-box.newsfeed .header-icon,
header .header-box.events .header-icon,
header .header-box.account .header-icon {
    margin: 20px 0 0 0;
}
header .header-box.events {
    width: 14%;
}
header .header-box.newsfeed .header-icon {
    background-image: url('icons/news-feed-icon.png')
}
header .header-box.events .header-icon {
    background-image: url('icons/event-icon.png')
}
header .header-box.account .header-icon {
    background-image: url('icons/profile-pic.png')
}
header .header-sub-box.insta .header-icon {
    background-image: url('icons/instagram.png')
}
header .header-sub-box.twitter .header-icon {
    background-image: url('icons/twitter.png')
}
header .header-sub-box.facebook .header-icon {
    background-image: url('icons/facebook.png')
}
/*header .header-sub-box .header-icon, header .header-sub-box p{display: inline-block;}*/

header .header-sub-box p {
    font-family: HalisGR-Regular;
    font-size: 12px;
}
header .header-box.newsfeed .header-sub-box p,
header .header-box.events .header-sub-box p,
header .header-box.account .header-sub-box p {
    display: block;
    width: 100%;
    letter-spacing: 0;
    margin: 5px 0 0 0;
}
header .header-box.menu .header-sub-box.download {
    float: left;
}
header .header-box.menu .header-sub-box.download p {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 8px;
    height: 40px;
    line-height: 20px;
    margin-top: 25px;
}
header .header-box.menu .header-sub-box .header-icon {
    position: relative;
}
header .header-box.menu .header-sub-box {
    display: inline-block;
}
header .header-box.menu .header-sub-box p {
    font-family: HalisGR-Bold;
}
header .header-box.menu .header-sub-box.social p {
    display: none;
}
header .header-box.menu .header-sub-box.social {
    margin: 0 4px;
}
section {
    top: 90px;
    position: relative;
    min-height: calc(100% - 90px);
    background-image: url(images/register-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
section .container-fluid {} .container-fluid {
    padding: 0;
}
.plain-row {
    background-color: #fff;
}
.center-width-row {
    width: 85%;
    margin: 20px auto!important;
    max-width: 1920px!important;
}
section > .container-fluid:first-of-type > .row.slider-row.center-width-row {
    margin-top: 20px !important;
}
.feed-rows {
    margin-top: 0;
    padding-bottom: 30px
}
.article-row {
    margin-top: 20px;
    background-color: #fff;
}
.header-row {
    height: 100%;
}
.center-padding-row {
    width: 100%;
    margin: 0 !important;
    padding: 20px 7%;
}
.home-slider {
    color: #fff;
    background: url(images/slider-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.app-value-desc {
    font-size: 18px;
    max-width: 650px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left
}
.app-value {
    font-family: Caslon Pro;
    text-align: center;
    max-width: 650px;
}
/*p.app-value-desc:first-of-type{text-align: center;}*/

.home-slider img {
    width: 100%;
    height: auto
}
.feature-img {
    max-width: 100%;
    height: auto
}
.home-container {
    width: 85%;
    margin: 0 auto
}
.home-container .slider-phone-img {
    float: right;
    width: 40%;
}
.home-container .app-value-desc:first-of-type {
    text-align: center;
}
.first-desc {
    max-width: 710px;
    height: 400px
}
.feature-desc {
    max-width: 700px;
    margin-top: 45px;
    margin-bottom: 10px;
    min-height: 300px
}
.phone-desc {
    max-width: 900px;
    vertical-align: bottom;
    height: 800px;
    overflow: hidden;
    position: relative
}
.feature-phone {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 450px
}
.row {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.col-md-2 {
    height: 100%
}
.col-sm-6 {
    text-align: center
}
.logo-holder {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    min-width: 200px;
    max-width: 270px
}
.logo-holder img {
    width: 100%;
    height: auto
}
.logo-container {
    float: left;
    text-align: center;
    width: 200px!important;
    margin-top: 18px;
    margin-right: 15px
}
.logo-container a {
    text-decoration: none;
    cursor: default;
}
.logo-title,
.logo-tagline {
    color: #fff;
    font-family: HalisGR-Book;
    margin: 0;
}
.logo-title {
    font-size: 18px!important;
    letter-spacing: 6px;
    line-height: 30px;
   }
.logo-tagline {
    font-size: 12px!important;
    letter-spacing: 1px;
    line-height: 0;
    margin-top: 5px;
}
.newsfeed-holder,
.nav-event-holder,
.signin-holder {
    width: 13%;
    float: left;
    min-height: 90px;
    min-width: 160px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
}
.newsfeed-holder.active,
.nav-event-holder.active,
.signin-holder.active {
    font-weight: bold;
}
.signin-icon img {
    max-width: 100%;
    min-width: 40px;
    height: auto
}
.signin-text {
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 0;
    width: 135px;
    margin-top: 10px
}
.feed-icon {
    float: left
}
.nav-signin-text {
    float: left
}
.evt-icon-icon {
    float: left
}
.highlight-btn {
    padding-top: 20px;
    min-height: 90px
}
.highlight-btn .col-sm-3 {
    padding: 0
}
.highlight-btn a,
.signin-holder a {
    text-decoration: none;
    color: #fff
}
.nav-download-section {
    width: 18%;
    float: left;
    margin-top: 22px;
    margin-left: 0;
    padding-left: 0;
    min-width: 250px
}
.social-icons {
    width: 13%;
    float: left;
    margin-top: 6px;
    padding-left: 0
}
.nav-download-section img {
    max-width: 250px;
    display: block;
    margin: 0;
    float: left;
    width: 230px
}
.social-icon img {
    width: 30px;
    height: auto
}
.social-common img {
    min-width: 30px
}
.social-last img {
    width: 15px;
    height: 30px
}
.social-icon {
    margin-top: 20px
}
.feature-title {
    font-family: Caslon Pro;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 30px
}
.purple-line {
    width: 70px;
    background-color: #80287f;
    height: 5px;
    margin: 30px auto;
    left: 0;
    right: 0
}
.white-line {
    width: 70px;
    background-color: #fff;
    height: 5px;
    margin: 30px auto;
    left: 0;
    right: 0
}
#clear {
    clear: both
}
.feature-text {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center
}
.feature-create-account,
.feature-news-letter {
    max-width: 300px;
    height: 43px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    padding-top: 1px;
    border: 2px solid #fff;
    margin: 30px auto;
    left: 0;
    right: 0
}
.feature-create-account a,
.feature-news-letter a {
    color: #fff;
    font-family: HalisGR-Bold;
    text-decoration: none;
    outline: none;
}
.feature-news-letter {
    border-color: #80287f
}
.feature-news-letter a {
    color: #80287f
}
.feature-news-letter img {
    max-width: 100%;
    height: auto
}
.event-container {
    padding: 0;
}
.event-area {
    height: 1250px;
    background-image: url(images/home-feature-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom
}
.event-area img {} .download-area {
    margin-top: 100px;
    max-width: 851px;
    margin-bottom: 30px
}
.download-area-link {
    max-width: 400px;
    margin: 30px auto;
    left: 0;
    right: 0
}
.app-value {
    font-size: 30px;
    margin-bottom: 0;
}
.event-area .first-desc {
    color: #fff
}
.slider-desc-holder {
    margin-top: 30px;
    min-height: 500px;
    width: 60%;
    max-width: 680px;
}
.download-stores {
    width: 500px;
    height: 150px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 50px auto 0 auto;
}
.download-stores .download-slider-area p {
    font-size: 32px;
    font-weight: 700;
    font-family: HalisGR-Bold;
    text-align: center;
}
.download-stores .download-slider-area {
    margin: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.store-holder {
    max-width: 190px!important;
    float: left
}
.store-holder img {
    max-width: 190px!important;
    height: auto
}
.apple-logo {
    float: right
}
.top-desc {
    max-width: 880px;
    height: 250px
}
.top-desc .feature-text {
    color: #989898
}
.top-desc .feature-title {
    color: #1d1d1e;
    font-size: 25px
}
.event-area p {
    color: #fff
}
.login-row {
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 20px 7%;
    box-shadow: 0 3px 3px grey;
}
.login-row .col-md-1 {
    padding: 0;
}
.account-icon-row {
    width: 100%;
    margin: 0;
    padding: 15px 10%;
    line-height: 25px;
    height: 39px;
    background-color: #fff;
    display: block;
    position: relative;
    box-shadow: 0 3px 3px grey;
}
.input-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    display: block;
    max-width: 50px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none
}
.input-icon img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 3px;
    margin-left: 10px
}
.form-input-holder {
    float: left;
    padding: 0;
    min-width: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px
}
.common-holder {} .column-holder {
    padding: 0
}
.action-text {
    float: left
}
.action-text-side {
    float: left;
    position: absolute;
    z-index: 1
}
.input-div {
    width: 85%;
    margin: 0;
    float: left;
    height: 38px
}
.input-div input {
    width: 100%;
    height: 100%;
    text-indent: 20px;
    border: none;
    outline: none
}
.input-vertical-line {
    display: inline-block;
    width: 1px;
    height: 80%;
    margin-top: 1.5%;
    border-right: 1px solid #111
}
.image-icon {
    width: 10%;
    margin-right: 2.5%;
    float: right;
    height: 38px
}
.lock-icon {
    width: 10%;
    padding-top: 3px;
    margin-right: 2.5%;
    float: right;
    height: 100%
}
.lock-icon img {
    display: block;
    max-height: 27px
}
.image-icon img {
    display: block;
    max-height: 27px
}
.sign-btn {
    text-align: center;
    background-color: #480f56;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer
}
.sign-btn button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    letter-spacing: 1px
}
.fbsign-btn {
    text-align: center;
    background-color: #3b5980;
    color: #fff;
    font-weight: 700;
    border: none;
    padding-top: 5px;
    cursor: pointer
}
.fb-letter {
    width: 20px
}
.fb-letter img {
    max-height: 30px
}
.sign-text {
    color: #80287f;
    padding-top: 10px;
    font-weight: 700;
    font-size: 17px;
    font-family: HalisGR-Book;
    margin-bottom: 20px
}
.active {
    background-color: #5a1f61
}
.signin-text a {
    text-decoration: none;
    color: #fff
}
.forgot-text {
    text-align: right;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 400;
    width: 48.5%;
}
.register-field-row {
    margin-top: 0;
    padding-bottom: 25px;
}
.register-container {
    min-height: 600px;
    max-width: 85%;
    padding: 20px 0 0 0;
}
.col-holders .col-sm-3 {} .register-container .col-holders.col-md-6 {
    padding-left: 0;
    padding-right: 0;
    height: auto;
}
.register-container .col-holders .col-md-6 {
    padding-left: 0;
    height: calc(100% - 55px);
}
.register-container .form-group {
    margin-bottom: 8%;
}
.purple-color {
    color: #80287f
}
input[type="radio"],
input[type="checkbox"] {
    display: none
}
input[type="radio"] + label span,
input[type="checkbox"] + label span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(icons/checkbox-sprite.png) 0 -34px no-repeat;
    cursor: pointer;
    float: left
}
input[type="radio"]:checked + label span {
    background-position: top left
}
input[type="checkbox"]:checked + label span {
    background-position: 0 -67px
}
.radio label,
.checkbox label {
    width: 100%;
    padding: 3px 0 0 0;
    font-size: 16px;
    line-height: 32px;
    min-height: 35px;
    font-family: HalisGR-Bold;
}
.radio-holder {
    margin-top: 170px
}
.account-radio-holder {
    margin-top: calc(23% + 90px);
    font-family: sans-serif
}
label.region-text {
    font-size: 13px!important;
    font-style: italic;
    margin-top: 5px;
}
.finish-btn {
    float: right;
    width: 275px;
    height: 45px;
    margin-top: 8%;
    background-color: #480f56;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: HalisGR-Bold;
}
.write-comment-btn {
    float: right;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-right: 7.5%;
    background-color: #480f56;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    font-family: HalisGR-Bold;
}
.save-change-btn {
    width: 100%;
    height: 34px;
    border-radius: 2px;
    background-color: #480f56;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px
}
.special-style-text {} .logout-btn {
    font-weight: 700;
    font-size: 16px;
    font-family: HalisGR-Book;
    margin-top: -3px
}
.logoutbtn-btn {
    display: block;
    border: none;
    outline: none;
    background: none;
    float: right
}
.slider-phone-img {
    min-height: 500px;
}
.slider-phone-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px
}
.download-slider-area img {
    display: block
}
.pref-holder {
    float: left;
    max-width: 250px
}
.pref-holder .purple-color.common-pref-text {
    top: 3px;
    position: relative
}
.common-pref-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin-top: 3px
}
.pref-icon img {
    display: block
}
.article-container-box {
    width: 100%;
    height: auto;
    min-height: 600px;
    margin: 0!important;
    padding: 0!important;
}
.feed-slider-box {
    min-height: 800px;
    width: 85%;
    margin-top: 30px;
    max-width: 1600px;
}
.carousel.slide {} .carousel-indicators {
    left: 0;
    width: 100%;
    margin: 0;
    bottom: 35px;
}
.carousel-indicators li {
    margin: 1px 5px;
    background-color: #111
}
.carousel-indicators li.active {
    border-color: #fff
}
.myCarousel {
    height: 100%
}
.feed-column {
    height: auto;
    padding: 0;
    border: 1px solid #b0b0b0
}
.col-top-info {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    background-color: #fff;
    /* height:320px; */
}
.col-bottom-bar {
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #480f56
}
.col-bottom-bar a {
    color: #fff;
    text-decoration: none
}
.thumb-holder {
    width: 100%;
    margin-top: 0;
    /* height:115px; */
    
    cursor: pointer
}
.feed-info-holder {
    width: 100%;
    /* min-height:150px; */
    
    padding-top: 15px;
    background-color: #fff;
    /* height: calc(100% - 115px)!important; */
}
.feed-info-holder p {
    color: #1d1d1e
}
.thumb-holder img {
    width: 100%;
    max-height: 100%
}
.speech-box,
.speech-text {
    float: left
}
.speech-box {
    width: 10%
}
.speech-text {
    font-family: sans-serif;
    width: 75%;
    color: #b9b9b9;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.top-thumb-holder p {
    font-size: 18px
}
.top-feed-info {
    padding-top: 20px;
    height: 200px!important;
    padding-left: 15px;
    padding-right: 15px
}
.feed-featured {
    padding: 0;
    height: 525px;
    float: right;
    border: 1px solid #b0b0b0
}
.feed-slider {
    padding: 0;
    /*max-width:1050px;*/
}
.top-thumb-holder img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}
.slider-row {
    height: auto
}
.read-more {
    float: left;
    padding-top: 8px;
    font-weight: 400;
    font-family: HalisGR-Bold;
    letter-spacing: 1px;
    color: #fff
}
.slider-read-more {
    position: absolute;
    z-index: 1000
}
.carousel-control {
    height: 93.2%;
    background: none;
}
.time-rem-holder {
    color: #fff;
    float: right;
    font-family: HalisGR-Bold;
    font-weight: 400;
    padding-top: 5px
}
.event-container {
    width: 85%;
    margin-bottom: 0
}
.top-event-container {
    margin-top: 0;
    min-height: 60px;
    padding: 10px 0;
    box-shadow: 0 1px 6px grey;
    background-color: #fff;
    margin-bottom: 20px
}
.event-settings {
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 3px 3px grey;
}
.event-settings > div {
    padding: 0;
    margin: 0 5px;
}
.event-settings .col-md-4 {
    width: 30%;
    padding-left: 0px;
    margin-top: 6px;
}
.dropdown-list {
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px
}
.drop-caret {
    float: right;
    margin-right: 10px;
    margin-top: 7px
}
.dropdown-selection {
    float: left;
    width: 87%;
    height: 100%
}
.drop-caret {
    width: 5%;
    height: 100%
}
.drop-item-holder {
    position: absolute;
    z-index: 10;
    width: 80%;
    margin-top: 35px;
    display: none;
    min-height: 150px
}
.drop-option {
    padding-top: 7px;
    height: 35px;
    text-align: center
}
.dist-holder {} .date-select-holder {}
/*.selectDiv.user-gender{float:none;}*/

.selectDiv {
    height: 45px;
    float: right;
    line-height: 28px;
    overflow: hidden;
    background: url(icons/down-arrow.png) no-repeat right #FEFEFE;
    background-position: right 10px bottom 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    position: relative;
    z-index: 100
}
.selectDefault {
    padding-left: 8px
}
.selectDiv select {
    margin: 0;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 45px;
    display: block;
    z-index: 101
}
.selectDiv select:focus {
    outline: none
}
.selectDiv {
    width: 100%
}
.selectDefault,
.selectDiv option {
    font-family: arial;
    font-size: 12px
}
.single-event-header {
    height: 300px;
    overflow: hidden;
}
.single-img-top {
    width: 100%;
    min-height: 300px;
}
.single-evt-info {
    position: absolute;
    z-index: 2;
    min-height: 300px;
    width: 100%;
    color: #fff;
    padding-left: 5%;
    padding-top: 60px;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
.top-thumb-holder {
    width: 100%;
    border: solid transparent;
    height: 290px
}
.top-thumb-holder img {
    height: 290px;
}
.feed-title-text {
    font-family: Caslon Pro;
    color: #fff;
    font-size: 35px;
    margin-top: 15%;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.single-evt-title {
    font-family: Caslon Pro;
    font-size: 37px;
    max-width: 600px;
    margin-top: 40px
}
.single-evt-loc-info {
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 40px
}
.single-event-data {
    padding-top: 30px;
    padding-bottom: 30px;
}
.single-event-data div {
    height: 100%
}
.evt-video-holder {
    width: 100%;
    height: 400px
}
.evt-video-holder iframe {
    border: none
}
.article-title {
    font-size: 35px;
    font-family: Caslon Pro;
    margin-bottom: 25px
}
.article-date-time {
    font-family: sans-serif;
    letter-spacing: 1px
}
.article-date-time img {
    width: 45px;
}
.article-data {
    font-family: System Font, Regular;
    margin-top: 30px;
    min-height: 400px;
    letter-spacing: 1px;
    line-height: 150%;
    font-size: 16px
}
.event-title-text {
    font-family: Caslon Pro;
    max-width: 400px;
    font-size: 25px
}
.click-icon {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: none;
    background: url(icons/preference_tick.png), linear-gradient(rgba(128, 40, 127, 0.5), rgba(128, 40, 127, 0.5));
    background-size: 15% 15%, 100%, 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* box-shadow: 0 0 1px 3px #ccc inset; */
    
    position: absolute;
    z-index: 1
}
.click-icon img {
    display: block;
    width: 100%;
    height: 100%
}
.facebook-login {
    display: none
}
#myCarousel .item-img-overlay-purple {
    background: linear-gradient(to right, rgba(72, 15, 86, 0.8), rgba(72, 15, 86, 0.3)60%, rgba(72, 15, 86, 0));
    opacity: 1;
    width: 100%;
    height: 500px;
    display: block;
    position: absolute;
}
/*#myCarousel .item-img-overlay-mesh{background: url(images/mesh.png);opacity: 0.2;width: 100%;height: 500px;display: block;position: absolute;}*/

.item,
.item img {} #myCarousel {
    width: 100%;
}
.carousel .item>img {} .carousel-inner > .item > img {
    width: 100%;
    height: 490px
}
.change-password-box {
    position: absolute;
    width: 90%;
    height: 250px;
    padding-top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    z-index: 10;
    display: none
}
.change-pass-form {
    max-width: 90%;
    height: 90%;
    left: 0;
    right: 0;
    margin: 0 auto
}
.time-icon {
    width: 25px;
    height: 25px;
    padding-top: -10px;
    margin-right: 10px
}
.time-icon img {
    width: 25px;
    height: 25px
}
.article-comment-box {
    background-color: #f3f3f3;
    margin-top: 2px;
    min-height: 400px;
    margin-bottom: 30px
}
.comment-form-box {
    width: 100%
}
.form-group label {
    font-family: HalisGR-Regular;
    font-weight: 400;
    font-size: 16px
}
.form-group input {
    height: 45px
}
.form-group button {
    height: 45px;
    font-family: HalisGR-Bold;
}
.comment-text-area,
.comment-form-box .form-group {
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: -1px 1px 2px 1px #ccc;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    color: #979797;
    position: relative
}
.comment-text-area:before {
    position: absolute;
    display: block;
    background-color: transparent;
    border-left: 1px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11px solid #fff;
    padding: 0;
    content: ' ';
    left: 0;
    bottom: -10px!important;
    border-radius: 0;
    z-index: 2
}
.comment-text-area:after {
    position: absolute;
    display: block;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 12px solid #ccc;
    padding: 1px;
    content: ' ';
    left: -3px;
    bottom: -16px;
    border-radius: 0;
    z-index: 1;
}
.comment-text-area p,
.comment-form-box .form-group input {
    height: auto;
    margin-bottom: 5px
}
.comment-title {
    color: #111
}
.comment-title:first-of-type {
    color: #979797
}
.comment-form-box input,
.comment-form-box textarea {
    border: none;
    box-shadow: none;
    padding: 0
}
.comment-text-area {
    min-height: 100px
}
.report-abuse {
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}
.report-abuse img {
    max-width: 100%;
    display: block;
    height: auto
}
.comments-wrapper {
    position: relative;
    padding: 8px 0px 15px 0px;
}
.comments-wrapper > p {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #666666;
    font-size: 1em !important;
    padding: 0px !important;
}
.comments-wrapper > span {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 1.4em;
    color: #480f56;
}
.f-row .col-md-3 {
    padding: 5px
}
.preference-img {
    width: 100%;
    height: 100%
}
.comment-admin-holder {
    margin-top: 150px;
    min-height: 300px
}
.comment-admin-holder .col-md-3,
.comment-admin-holder .col-md-2,
.comment-admin-holder .col-md-5 {
    min-height: 100px
}
.admin-action-buttons {
    margin-left: auto;
    margin-right: auto
}
.admin-comment-text {
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 900px
}
.pin-img {
    width: 30px;
    height: 40px
}
.comment-table-row {
    background-color: #773A74
}
.comment-table-row th {
    color: #fff
}
.settings-container {
    float: left
}
.settings-icon {
    height: 50px;
    width: 50px;
    margin-right: 15px
}
.settings-icon img {
    width: 50px
}
.push-admin-holder {
    width: 85%;
    min-height: 600px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}
.admin-menu-holder {
    margin-top: 150px;
    min-height: 50px;
    border-bottom: 1px solid #ddd
}
.nav-element-holder .nav {
    border-bottom: none!important
}
.admin-lg-btn {
    margin-top: 7px
}
.nav-element-holder {
    max-width: 1000px;
    float: right
}
.interest-column {
    left: 0;
    right: 0;
    margin: 0 auto
}
.location-column {
    display: none
}
.push-text-box {
    margin-top: 50px
}
.location-box-holder {
    padding-top: 20px
}
.slider-title {
    font-size: 47px;
    color: #fff;
   text-align: center !important;
    margin-top: 15%;
    font-family: Caslon Pro;
    position: absolute;
    z-index: 1;
    left: 22%;
    right: 21%;

}
.forgot-pass-text {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: System Font, Regular
}
.forgot-password-box {
    position: absolute;
    max-width: 320px;
    height: 350px;
    padding-top: 30px;
    left: 0;
    right: 0;
    margin: 60px auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    z-index: 10;
    display: none
}
.forgot-pass-form {
    max-width: 320px;
    height: 350px;
    padding-top: 30px;
    left: 0;
    right: 0;
    margin: 200px auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px grey
}
/*#register-last, #account-last{margin-top: calc(13% + 13px);}*/

.image-container-square {
    overflow: hidden;
}
/* footer styles */

footer {
    height: 30px;
    width: 100%;
    position: relative;
    bottom: -60px;
    background: linear-gradient(rgba(119, 58, 116, 0.6), rgba(119, 58, 116, 0.6));
    overflow: hidden;
}
.footer-container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
}
.footer-box {
    display: inline-block;
    width: 33%;
    height: 100%;
}
.footer-box p {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    float: left;
    color: #fff;
    font-family: HalisGR-Regular;
}
.footer-box p.footer-title {} //p.footer-title.contact-us{text-decoration: underline;}
@media (max-width: 1905px) {} @media (max-width: 1350px) {
    .carousel-inner > .item > img {
        height: 400px;
    }
    .top-feed-info {
        height: 200px!important;
    }
    /*
    .feed-featured{
        height:435px;
        margin:0 0 0 15px;
        width: calc(33.3% - 10px);
    }
    */
    
    .top-thumb-holder,
    .top-thumb-holder img {
        height: 200px;
    }
}
@media (max-width: 1010px) {
    .carousel-inner > .item > img {
        height: 350px;
    }
    .thumb-holder img {
        /* height:115px; */
    }
    .feed-column {
        margin: 5px;
        width: calc(33.3% - 10px);
    }
    .col-top-info {
        /* height:325px; */
    }
    .speech-text {
        /* height: 120px; */
    }
    .event-title-text {
        height: 30px;
        overflow: hidden;
    }
    .carousel-indicators {
        bottom: 40px;
    }
    .top-feed-info {
        height: 150px!important;
    }
    /*
    .feed-featured{
        height:385px;
        margin:0 5px;
        width: calc(33.3% - 10px);
    }
    */
    
    .top-thumb-holder,
    .top-thumb-holder img {
        height: 200px;
    }
}
@media (min-width: 1737px) {
    .image-icon {
        padding-top: 7px
    }
}
@media (min-width: 1710px) {
    .f-row .col-md-3 {
        height: 160px
    }
}
@media (max-width: 1700px) {
    .f-row .col-md-3 {
        height: 130px
    }
}
@media (max-width: 1628px) {
    .highlight-btn {
        padding-top: 5px
    }
    .highlight-btn .col-sm-3,
    .highlight-btn .col-sm-9 {
        width: 100%;
        text-align: center
    }
    .highlight-btn div img {
        width: 30px;
        padding-top: 7px
    }
    .signin-icon img {
        min-width: 30px;
        padding-top: 3px
    }
    .newsfeed-holder,
    .nav-event-holder,
    .signin-holder {
        min-width: 140px
    }
    .nav-download-section img {
        max-width: 180px!important
    }
    .nav-download-section {
        margin-top: 26px!important;
        min-width: 180px!important
    }
}
@media (min-width: 1635px) {
    .event-settings .col-md-4 {
        margin-top: 6px;
    }
}
@media (max-width: 1366px) {
    .nav-download-section img {
        min-height: 30px
    }
}
@media (min-width: 1290px) {
    .form-input-holder {
        max-width: 410px
    }
}
@media (max-width: 1250px) {
    header .header-box.menu .header-sub-box.download p {
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 5px;
        height: 35px;
        line-height: 25px;
        margin-top: 28px;
    }
}
@media (min-width: 1200px) {
    .form-input-holder {
        width: 23%
    }
    .common-holder {
        margin-left: 2.6%
    }
    .image-icon {
        padding-top: 7px
    }
}
@media (max-width: 1200px) {
    header .header-sub-box.download p span {
        display: none;
    }
}
@media (min-width: 1205px) {
    .comment-admin-holder {
        width: 85%
    }
}
@media (min-width: 1205px) and (max-width: 1720px) {
    .image-icon {
        padding-top: 10px
    }
}
@media (max-width: 1200px) {
    .comment-admin-holder {
        width: 100%
    }
    .f-row .col-md-3 {
        max-width: 198px
    }
}
@media (max-width: 1190px) {
    .form-input-holder {
        width: 45%
    }
    .login-row {
        height: 200px;
    }
    .login-row .col-md-3 {
        margin: 0 5px 10px 5px;
    }
    .forgot-text {
        text-align: right;
        margin-top: 100px;
        /* margin-right: 50%; */
        /* right: 50%; */
        
        width: 45%;
        cursor: pointer;
        font-weight: 400;
        height: 25px;
        position: relative;
    }
    .input-vertical-line {
        margin-top: 1%;
    }
    .feature-img {
        margin-top: 5px;
    }
    .event-container .col-md-2 {
        padding: 0;
        width: 20%;
    }
    /*.last-col{margin-left:10%;margin-top:10px}*/
}
@media (max-width: 992px) {
    .top-feed-info {
        height: 200px!important;
    }
    /*
    .feed-featured{
        height:435px;
        margin:0 5px;
        width: calc(33.3% - 10px);
    }
    */
    
    .top-thumb-holder,
    .top-thumb-holder img {
        height: 200px;
    }
}
@media (max-width: 1160px) {
    header .header-box {
        width: 18%;
    }
    header .header-box.logo-box {
        width: 195px;
    }
    /*
    header .header-box.newsfeed .header-sub-box p,
    header .header-box.events .header-sub-box p,
    header .header-box.account .header-sub-box p {display: none;}
    */
    
    header .header-icon {
        width: 100%;
        position: relative;
        margin-top: 23px;
    }
    header .header-box.menu {
        width: 23%;
        background-image: url('icons/menu-icon.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .header-box.menu .header-sub-box {
        float: none!important;
        display: block;
        height: 40px;
        background: #480f56;
        text-align: left;
    }
    header .header-box.menu .header-sub-box.download {
        margin-top: 90px;
    }
    header .header-box.menu .header-sub-box.social p,
    header .header-box.menu .header-sub-box.social .header-icon {
        display: inline-block;
    }
    header .header-box.menu .header-sub-box.social {
        margin: 0;
    }
    header .hangdown {
        width: 200px;
        right: 0;
        position: absolute;
    }
    header .header-box.menu .header-sub-box.download p {
        border: none;
        padding: 0;
        margin-left: 50px;
        padding: 10px 0 0 0;
    }
    header .header-box.menu .header-sub-box.social p {
        line-height: 40px;
        vertical-align: top;
        margin-left: 15px;
    }
    header .header-box.menu .header-sub-box .header-icon {
        float: left;
        margin: 0 0 0 5px;
        width: 30px;
    }
    /*header .header-box.newsfeed .header-sub-box, header .header-box.events .header-sub-box, header .header-box.account .header-sub-box, header .header-box.menu .header-sub-box{ margin-top:10px;}*/
    
    .event-settings.center-padding-row {
        padding: 20px 2%;
    }
    .event-settings .col-sm-2,
    .event-settings .col-sm-4 {
        width: 25%;
        float: left;
    }
    .event-settings .col-sm-2:first-of-type {
        width: 19%;
        float: left;
    }
    .change-password-box {
        height: 300px;
    }
    .change-pass-form .form-group {
        margin-bottom: 4%;
    }
}
@media (max-width: 1102px) {
    .social-icons {
        display: none
    }
}
@media (max-width: 1025px) {
    .common-reg-input,
    .common-signin {
        width: 100%
    }
    .account-radio-holder label {
        font-size: 12px;
    }
}
@media (min-width: 1010px) {
    .feed-column {
        width: 32%;
        margin-top: 2%
    }
    .feed-slider {
        width: 66%
    }
    .feed-column:nth-of-type(3n-1) {
        margin-right: 2%;
        margin-left: 2%;
    }
    .feed-column {
        margin-top: 10px
    }
}
@media (max-width: 1000px) {
    .download-slider-area img {
        margin-left: auto;
        margin-right: auto
    }
    .slider-desc-holder p,
    .app-value-desc {}
}
@media (min-width: 1027px) {
    .last-two-col {
        margin-left: 2%
    }
}
@media (max-width: 990px) {
    .home-container .slider-phone-img {
        float: none;
        margin: 0 auto;
        width: 60%;
    }
    .slider-desc-holder {
        width: 90%;
        margin: 0 auto;
        min-height: 450px;
    }
    .top-desc {
        height: 300px;
    }
    .download-slider-area {
        margin: 60px auto 20px auto;
    }
    .download-stores {
        margin: 0 auto;
    }
    .forgot-text {
        margin-top: 0;
        width: 90%;
        top: -40px;
        position: absolute;
    }
    .register-container .col-holders .col-md-6 {
        height: auto;
    }
    /*.register-container .col-holders.col-md-6{height: 900px;}*/
    
    .f-row {
        height: 0px;
        max-width: 595px;
        margin: 0 auto;
    }
    .finish-btn {
        float: none;
        margin: 200px auto 8% auto;
        position: relative;
        display: block;
    }
    .f-row .col-md-3 {
        padding: 5px;
    }
    .feed-featured {
        width: 100%;
        margin: 10px auto;
        height: auto;
    }
    .feed-column {
        display: inline-block;
        width: 48%;
    }
    .footer-box {
        width: 32%;
    }
}
@media (max-width: 970px) {
    header .header-box.menu,
    header .header-box {
        width: 17%;
    }
}
@media (min-width: 800px) {
    .logout-btn {
        float: right
    }
    .pref-icon img {
        left: 0;
        right: 0;
        margin: 0 auto
    }
}
@media (min-width: 672px) {
    .feature-is {
        display: none
    }
}
@media (max-width: 670px) {
    .feature-i {
        display: none
    }
    .feature-is {
        display: block
    }
}
@media (max-width: 789px) {
    .location-column {
        margin-top: 200px
    }
}
@media (max-width: 786px) {
    .f-row .col-sm-3 {
        width: 100%
    }
}
@media (min-width: 786px) {
    .col-holders .s-row {
        margin-top: 10px
    }
}
@media (max-width: 780px) {
    .selectDiv {
        margin-top: 10px!important
    }
}
@media (max-width: 770px) {
    .account-icon-row .col-sm-4 {
        float: left;
        max-width: 250px
    }
}
@media (max-width: 488px) {
    .account-icon-row .col-sm-4 {
        float: left;
        max-width: 90px
    }
}
@media (max-width: 790px) {
    .f-row .col-md-3 {
        width: 50%;
        float: left
    }
}
/*

    Shame styles - added for The Grid and home page adjustment

 */

.grid-holder {
    padding: 23px 0 80px 0 !important;
}
.tg-item .dark p {
    color: #773A74 !important;
}
.default {
    margin-top: 100px;
}
.blog {
    margin-top: 90px;
}
.default h1.entry-title {
    text-align: center;
    margin-top: 40px;
    font-size: 4em;
    color: #773A74;
    padding: 1em;
}
.default h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #773A74;
    padding: 0px 27%;
    line-height: 1.7em;
}
.default .searchFrom form#searchform {
    margin: 80px 20% 100px 20%;
}
.default .searchFrom input#s {
    padding: 10px;
    font-size: 19px;
    border: 1px solid #773A74;
    width: 75%;
}
.default .searchFrom label.screen-reader-text {
    width: 10%;
    text-align: right;
}
.default .searchFrom input#searchsubmit {
    background: #773A74;
    color: white;
    border: 1px solid #773A74;
    font-size: 19px;
    padding: 10px;
    text-align: center;
    width: 14%;
}
.default article {
    padding-top: 0px !important;
    margin-bottom: 100px !important;
}
.default article .entry-header h3 a {
    color: #773A74;
}
.single-post article {
    margin-top: 45px;
    padding-top: 40px;
}
.blog-widget h4 {
    color: #773A74;
}
.blog-widget {
    padding-bottom: 20px;
}
.blog-widget ul li {
    list-style: none;
    padding: 5px 0px;
    text-transform: capitalize;
    font-style: italic;
    color: #524F52;
}
.blog-widget ul {
    padding: 0px;
    margin: 20px;
}
.blog-widget ul li a {
    font-style: normal;
}
.blog-widget .tagcloud {
    max-width: 200px;
}
.single-post article .article-content h2 {
    color: #773A74;
    font-size: 3em;
    padding: 0px 0px 10px 15px;
    margin-top: 0px;
    position: relative;
}
/*
.single-post article .article-content h2:before {
    position     : absolute;
    display      : block;
    content      : " ";
    bottom       : 0px;
    left         : 15px;
    width        : 8%;
    border-bottom: 5px solid #773A74;
}
*/

.single-post article .article-content p {
    font-size: 1.3em;
    line-height: 1.8em;
    padding: 15px;
}
.blog-widget input#searchsubmit {
    background: #773A74;
    border: #773A74;
    padding: 10px 40px;
    color: white;
}
.blog-widget input#s {
    border: 1px solid #D0BAC9;
    color: #403D3D;
    padding: 9px;
    width: 50%;
    min-width: 200px;
}
.blog-widget input#searchsubmit,
.blog-widget input#s:focus {
    outline: 0;
}
.home-container {
    padding: 70px 0px;
}
.home-container .col-md-12 h1 {
    text-align: center;
    padding: 0.1em;
    font-size: 3em;
    font-family: HalisGR-Regular;
    text-transform: uppercase;
}
.home-container .col-md-12 h2 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
    font-family: HalisGR-Regular;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.cta-btn {
    width: 380px;
    border-radius: 3px;
    padding-top: 1px;
    border: 2px solid #F1CDE0;
    display: inline-block;
    margin-bottom: 50px;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cta-btn:hover {
    border-color: #ffffff;
    color: #F1CDE0;
}
.cta-btn a {
    display: block;
    padding: 10px 60px;
    color: #F1CDE0;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cta-btn:hover a {
    color: #ffffff;
}
.cta-btn p {
    display: inline-block;
}
.cta-btn:focus,
.cta-btn a:focus {
    outline: none !important;
}
.cta-btn.purple {
    display: block;
    border-color: #773A74;
    background: #773A74;
    margin: auto;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    font-size: 19px;
    padding: 10px 60px;
}
.cta-btn.purple:hover {
    background: white;
    color: #773A74;
}
.cta-btn.purple:hover {} .cta-btn.purple a {
    color: white;
}
.cta-btn.purple:hover a {
    color: #773A74
}
.cta-btn.purple span {
    position: absolute;
    top: 40%;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cta-btn.purple span.glyphicon.glyphicon-menu-right {
    left: -10%;
    color: white;
}
.cta-btn.purple:hover span.glyphicon.glyphicon-menu-right {
    left: 10%;
    color: #773A74;
}
button.cta-btn.purple {
    padding: 20px 15px;
    font-size: 19px;
    color: white;
}
button.cta-btn.purple:hover {
    color: purple;
}
.quito .dark .tg-cats-holder span {
    background: #F1CDE0 !important;
    color: #965293;
}
.modal {
    z-index: 11050;
}
.single-blog-header {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.single-blog-header:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.single-blog-header h1 {
    position: absolute;
    bottom: 20%;
    left: 40px;
    font-size: 3.5em;
    font-family: HalisGR-Regular;
    width: 60%;
}
.carousel-inner > .item > img {
    height: auto;
    position: relative;
}
.carousel-inner > .item:before {
    display: block;
    background: rgba(72, 15, 86, 0.4);
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    z-index: 1;
}
.item {
    position: relative;
    height: 525px;
    overflow: hidden;
}
.col-bottom-bar {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.article-content img {
    width: 100%;
    height: auto;
    max-width: 500px;
}
ol.commentlist img {
    display: none;
}
ol.commentlist {
    list-style: none;
    padding: 20px;
    background: #f3f3f3;
    margin-bottom: 0px
}
ol.commentlist li {
    padding-top: 20px;
    padding-bottom: 40px;
}
ol.commentlist .comment-body:before {
    position: absolute;
    display: block;
    background-color: transparent;
    border-left: 1px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11px solid #fff;
    padding: 0;
    content: ' ';
    left: 0;
    bottom: -10px!important;
    border-radius: 0;
    z-index: 2;
}
ol.commentlist .comment-body:after {
    position: absolute;
    display: block;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 12px solid #ccc;
    padding: 1px;
    content: ' ';
    left: -2px;
    bottom: -14px!important;
    border-radius: 0;
    z-index: 1;
}
ol.commentlist .comment-body {
    position: relative;
    border: 0px solid #cccccc;
    background: #ffffff;
    border-radius: 0px;
    padding: 20px;
    box-shadow: -1px 1px 2px 1px #ccc;
}
ol.commentlist .comment-body p {
    margin: 0px;
}
ol.commentlist .comment-author {
    position: absolute;
    bottom: -30px;
    left: 3%;
    font-size: 1.3em;
    color: #7F7F7F;
}
ol.commentlist .comment-author span.says {
    display: none;
}
ol.commentlist .comment-meta {
    position: absolute;
    top: 10px;
    right: 15px;
    color: purple;
}
ol.commentlist .comment-meta a {
    color: #888888;
}
ol.commentlist .reply {
    display: none
}
ol.commentlist .reply a {
    border: 3px solid purple;
    padding: 5px 16px;
    background: purple;
    color: white;
    text-decoration: none;
}
h3#comments {
    color: #773A74;
    font-weight: normal;
}
#respond {
    background: #f3f3f3;
    padding: 20px;
    position: relative;
}
#respond:before {
    position: absolute;
    content: "";
    width: 96%;
    left: 2%;
    background: #ffffff;
    /*DED8D8*/
    
    height: 5px;
    top: 15px;
    border-bottom: 1px solid #DED8D8;
}
#respond h3 {
    color: purple;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 30px;
}
#commentform p {
    padding: 0px 0px 0px 0px;
}
#commentform input[type="text"],
#commentform textarea {
    width: 60%;
    float: right !important;
    border: 1px solid #DED8D8;
    padding: 10px 20px
}
#commentform input[type="text"]:focus,
#commentform textarea:focus {
    outline-color: purple;
}
#commentform label {
    float: right !important;
    width: 40%;
    font-weight: normal;
    color: #555555;
    padding-top: 7px;
}
#commentform p:after {
    clear: both;
    display: block;
    content: "";
}
#commentform input[type="submit"] {
    background: #773A74;
    border: 1px solid white;
    color: #fefefe;
    font-size: 1.4em;
    padding: 20px 40px;
    float: right;
    margin: 20px 0px 0px 0px;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#commentform input[type="submit"]:focus {
    outline: none;
}
#commentform input[type="submit"]:hover {
    color: #773A74;
    border-color: #773A74;
    background: white;
}
#commentform p:nth-child(3) {
    /*display: none;*/
}
textarea#comment {
    width: 100%;
}
p.comment-form-comment label {
    display: none;
}
.alert.alert-purple {
    background: #AD89AC;
    border-color: #773A74;
    color: white;
    text-align: center;
}
.alert.alert-purple strong {
    font-size: 1.5em;
}
.feed-featured p.tg-item-excerpt {
    padding: 0px !important;
    line-height: 23px;
}
.feed-featured .tg-item-footer {
    display: none !important;
}
.feed-featured .tg-center-inner {
    top: 25% !important;
}
.feed-featured .tg-item-media-holder.light:hover .tg-item-overlay {
    background-color: rgba(119, 58, 116, 0.75);
}
.feed-featured .tg-item-content-holder.dark.image-format {
    position: absolute;
}
#notificationModal .modal-dialog {
    margin-top: 15%;
}
#notificationModal h4.modal-title {
    text-align: center;
    font-size: 2em;
    color: #773A74;
}
#notificationModal .modal-body {
    text-align: center;
    padding: 40px;
    font-size: 1.6em;
}
#notificationModal .modal-footer {
    border-top: 0;
    text-align: center;
}
#notificationModal .modal-footer .cta-btn.purple {
    margin-top: 0;
}
#notificationModal .modal-footer div {
    padding: 40px 0 10px 0;
}
#notificationModal .modal-footer a {
    display: inline-block;
    margin: 25px 45px;
}
@media only screen and (min-device-width: 1350px) {
    .feed-featured .tg-item-media-holder.light {
        max-height: 250px;
        overflow: hidden;
    }
    .feed-featured p.tg-item-excerpt {
        line-height: 28px;
    }
    .feed-featured .tg-center-inner {
        top: 50% !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
    
    .grid-holder {
        width: 90%;
        margin: 0 5% !important;
    }
    .text-right,
    .text-left {
        text-align: center;
    }
    #searchform label {
        display: block;
        width: 100% !important;
        text-align: left !important;
    }
    .search-no-results #searchform input#searchsubmit {
        width: 20%;
    }
    .blog-widget input#s {
        min-width: 100px;
    }
    .single-blog-header h1 {
        width: 80%;
    }
    .feed-featured .tg-cats-holder a span {
        font-size: 8px;
    }
    .feed-featured p.tg-item-excerpt {
        margin: 9px 0px;
    }
    .feed-featured h2.tg-item-title {
        padding-top: 7px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    /* STYLES GO HERE */
    
    .grid-holder {
        width: 90%;
        margin: 0 5% !important;
    }
    .text-right,
    .text-left {
        text-align: center;
    }
    #searchform label {
        display: block;
        width: 100%;
        text-align: left;
    }
    .search-no-results #searchform input#searchsubmit {
        width: 20%;
    }
    .blog-widget input#s {
        min-width: 100px;
    }
    .single-blog-header h1 {
        width: 80%;
    }
    .feed-featured .tg-cats-holder a span {
        font-size: 8px;
    }
    .feed-featured p.tg-item-excerpt {
        margin: 9px 0px;
    }
    .feed-featured h2.tg-item-title {
        padding-top: 7px !important;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    /* STYLES GO HERE */
    
    .grid-holder {
        width: 90%;
        margin: 0 5% !important;
    }
    .text-right,
    .text-left {
        text-align: center;
    }
    #searchform label {
        display: block;
        width: 100%;
        text-align: left;
    }
    .search-no-results #searchform input#searchsubmit {
        width: 20%;
    }
    .blog-widget input#s {
        min-width: 100px;
    }
    .single-blog-header h1 {
        width: 80%;
    }
    .feed-featured .tg-cats-holder a span {
        font-size: 8px;
    }
    .feed-featured p.tg-item-excerpt {
        margin: 9px 0px;
    }
    .feed-featured h2.tg-item-title {
        padding-top: 7px !important;
    }
}